.to-jobs-btn {
   padding: 12px 50px;
   background-color: var(--color-brand-1);
   border-radius: var(--radius-default);
   border: 0;
   width: fit-content;
   color: var(--color-grey-6);
   font-size: var(--text-2);
   font-weight: 500;
   cursor: pointer;
   transition: 0.3s ease;
}

.to-jobs-btn:hover {
   background-color: var(--color-brand-2);
}

.job-btns-wrapper {
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 36px;
}

.job-type-btn-wrapper {
   display: flex;
   height: fit-content;
   gap: 20px;
}

.job-type-btn {
   padding: 4px 12px;
   border-radius: var(--radius-default);
   background-color: var(--color-grey-3);
   border: none;
   color: var(--color-grey-2);
   font-size: var(--text-3);
   font-weight: 400;
}

.job-apply-btn {
   padding: 7px 28px;
   background-color: var(--color-brand-1);
   border: 2px solid var(--color-brand-1);
   border-radius: var(--radius-default);
   color: var(--color-grey-6);
   font-size: var(--text-2);
   line-height: 24px;
   font-weight: 500;
   cursor: pointer;
}

.job-apply-btn:hover {
   background-color: var(--color-brand-2);
}

.applied-job-remove-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 45px;
   height: 38px;
   border-radius: var(--radius-default);
   background-color: var(--color-grey-5);
   border: 2px solid var(--color-grey-5);
   cursor: pointer;
   transition: ease 0.3s;
}

.applied-job-remove-btn:hover {
   background-color: var(--color-grey-3);
   border: 2px solid var(--color-grey-3);
}

.applied-job-remove-img {
   height: 14px;
   pointer-events: none;
}

@media(max-width:700px) {
   .job-apply-btn {
      min-width: 100%;
   }
}